.world-view-container {
  position: relative;

  width: 800px;
  height: 600px;

  margin: 15px auto;

  border: 1px solid;
}

.world-stats-container {
  display: flex;
  flex: 1;
  flex-direction: row;

  justify-content: space-between;

  width: 800px;
  align-self: center;

  margin-top: 15px;
}
