.game-music-toggle-button {
  margin-top: 10px;

  height: 40px;
  width: 45px;

  cursor: pointer;
  user-select: none;

  position: relative;

  z-index: 100;
}

.game-music-button {
  font-size: 26px;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.line1 {
  height: 2px;
  background: var(--gray);

  transform: rotate(41deg);

  position: absolute;

  transition: all .25s ease-in-out;
}

.line2 {
  height: 2px;
  background: var(--gray);

  transform: rotate(139deg);

  position: absolute;

  transition: all .25s ease-in-out;
}
