.game-instructions-title {
  font-size: 26px;
  text-align: center;

  padding-top: 16px;
}

.game-instructions-text {
  display: flex;
  flex: 1;

  align-items: center;

  padding: 0 36px;

  text-align: center;
}