.game-instructions-title {
  font-size: 26px;
  text-align: center;

  padding: 12px 0;
}

.game-instructions-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  letter-spacing: 1px;
  text-transform: none;
  text-align: center;

  padding: 0 36px;

  span {
    padding-bottom: 12px;
  }
}

.game-start-button {
  padding: 12px 0 16px;

  align-items: center;
}