.game-menu-container {
  flex: 1;
  flex-wrap: wrap;

  max-width: 350px;
  margin-top: 8px;

  justify-content: center;
  align-items: center;
  align-self: center;

  position: relative;

  padding-left: 2px;
}