.inventory-dialog-container {
  flex: 1;
}

.inventory-dialog-child {
  justify-content: flex-start;
}

.inventory-backpack {
  width: 350px;
  height: 350px;

  margin-top: 35px;

  background-size: contain;
}
