.inventory-dialog-container {
  flex: 1;
}

.inventory-dialog-child {
  justify-content: flex-start;
}

.inventory-backpack {
  height: 280px;

  margin-top: 36px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
