.endless-dialog-container {
  flex: 1;
  justify-content: space-evenly;
}

.endless-dialog-text {
  font-family: Montserrat;
  font-size: 22px;
  text-transform: none;

  letter-spacing: 5px;
  line-height: 1.75;

  padding: 0 100px;
}

.endless-dialog-button {
  display: flex;
  justify-content: center;
}