.endless-dialog-container {
  flex: 1;
  justify-content: space-evenly;
}

.endless-dialog-text {
  font-family: Roboto;
  letter-spacing: 5px;
  line-height: 1.75;

  font-size: 24px;
  padding: 0 100px;
}

.endless-dialog-button {
  display: flex;
  justify-content: center;
}