.game-settings__container {
  height: 40px;
  width: 45px;

  background-color: var(--transparent);
  padding: 0;

  margin-top: 12px;

  cursor: pointer;
  user-select: none;

  position: relative;

  z-index: 100;

  .game-settings__button {
    font-size: 26px;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}