.game-over-title {
  display: flex;
  justify-content: center;

  padding: 50px 0 25px 0;

  font-size: 36px;
}

.game-over-text {
  display: flex;
  justify-content: center;

  padding: 25px 0;

  font-size: 26px;
}

.game-over-button-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-end;

  margin: 0 auto;
  padding-bottom: 50px;
}
