.shop-inventory-container {
  width: 275px;
  height: 210px;

  align-self: flex-start;

  background-size: contain;

  margin-bottom: 25px;
}

.shop-inventory-items {
  padding: 0 25px 20px 0;
}

.shop-item-container {
  align-items: center;

  cursor: pointer;
}

.shop-item-slot {
  width: 40px;
  height: 40px;
  background-size: contain;
}

.shop-item-text {
  padding: 0 10px;

  justify-content: space-between;
  flex: 1;
}
