.shop-inventory-container {
  width: 275px;
  height: 210px;

  align-self: flex-start;

  background-size: contain;

  margin-bottom: 25px;
}

.shop-inventory-items {
  padding: 0 50px 20px 0;
}

.shop-item-container {
  cursor: pointer;

  margin-bottom: 7px;
}

.shop-item-slot {
  width: 40px;
  height: 40px;
  background-size: contain;
}

.shop-item-text {
  padding: 0 10px;

  justify-content: space-between;
  flex: 1;
}

.shop-page-button {
  font-size: 22px;

  padding: 10px 15px;

  cursor: pointer;
}

.shop-item-price {
  color: var(--orange);

  padding-left: 10px;
  border-left: 1px solid var(--gray);

  width: 30px;

  align-items: center;
  justify-content: center;
}

.shop-item-title {
  align-items: center;
  justify-content: center;
}
