.hotkey__container {
    flex: 1;
    display: flex;
    align-items: center;
}

.hotkey__text {
    font-family: Montserrat;
    text-transform: none;

    letter-spacing: 2px;

    text-align: right;
    display: inline-block;
}
