.endless-start-title {
  font-size: 26px;
  justify-content: center;

  padding: 14px 0 0;
  margin-left: 16px;
}

.endless-start-text {
  flex: 1;

  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;

  justify-content: space-between;

  padding: 48px 16px 0;
}

.endless-start-button {
  padding: 16px 0;

  align-items: center;
}

.endless-start-flame-container-1 {
  position: absolute;
  bottom: 75px;
  left: 125px;
}

.endless-start-flame-container-2 {
  position: absolute;
  bottom: 75px;
  left: 570px;
}

.endless-start-back {
  position: absolute;
  left: 0;
  top: 0;

  font-size: 24px;

  cursor: pointer;

  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 2px;

  padding: 12px 16px;
}