.equipped-items-character {
  width: 170px;

  align-self: center;

  background-size: cover;
  background-repeat: no-repeat;
}

.item-slot {
  cursor: pointer;

  width: 40px;
  height: 40px;
}

.item-slot-placeholder {
  cursor: default;

  width: 40px;
  height: 40px;
}
