.white-border {
  border: 1px solid;
}

.equipped-items-character {
  width: 220px;
  height: 425px;

  align-self: center;

  background-size: contain;
}

.item-slot {
  cursor: pointer;

  width: 40px;
  height: 40px;

  background-size: contain;
}
