.snackbar-container {
  background-color: var(--dark-gray);
  width: 398px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 400px;

  text-align: center;

  cursor: default;
  user-select: none;

  display: flex;
}

.snackbar-text {
  display: flex;
  flex: 1;

  align-self: center;
  justify-content: center;

  padding: 5px 15px 10px 15px;
}
