.stats-text-spacing {
  padding-right: 15px;
}

.stats-column-spacing {
  padding-left: 25px;
}

.stats-row-spacing {
  padding-bottom: 15px;
}

.stats-border {
  border: 1px solid;
  border-radius: 2px;

  padding: 15px;

  cursor: default;

  user-select: none;
}

.exp-bar-container {
  width: 110px;
  height: 20px;

  background: var(--gray);

  position: relative;

  border: 1px solid var(--blue);
  border-radius: 7px;
}

.exp-bar-value {
  height: 20px;

  background: var(--blue);

  border-radius: 5px 0px 0px 4px;

  position: absolute;

  transition: width 1s ease-in-out;
}

.exp-bar-position {
  flex: 1;
}

.stats-hp-bar-position {
  padding-bottom: 2px;
}

.stats-hp-bar-container {
  width: 125px;
  height: 20px;

  background: var(--red);

  position: relative;

  border: 1px solid var(--green);
  border-radius: 7px;
}

.stats-hp-bar-value {
  height: 20px;

  background: var(--green);

  border-radius: 5px 3px 3px 5px;

  position: absolute;

  transition: width 1s ease-in-out;
}

.stats-bar-value-text {
  height: 20px;
  font-size: 22px;
  color: var(--dark-gray);

  font-weight: bold;

  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
}

.stats-text-gold {
  color: var(--orange);
}

.stats-text-damage {
  color: var(--light-red);
}

.stats-text-level {
  color: var(--blue);
}

.stats-text-defence {
  color: var(--purple);
}
