.stats-text-spacing {
  padding-right: 15px;
}

.stats-column-spacing {
  padding-left: 25px;
}

.stats-row-spacing {
  padding-bottom: 15px;
}

.stats-border {
  border: 1px solid;
  border-radius: 2px;

  padding: 15px;

  cursor: default;

  user-select: none;
}

.exp-bar-container {
  width: 110px;
  height: 15px;

  background: var(--gray);

  position: relative;
}

.exp-bar-value {
  height: 15px;

  background: var(--blue);

  position: absolute;

  transition: width 2s ease-in-out;
}

.exp-bar-position {
  flex: 1;
  align-items: center;
}
