.journal-dialog__container {
    flex: 1;

    overflow-y: scroll;
}

.journal-log {
    background-color: var(--dark-gray);
    width: 100%;

    justify-content: center;

    color: var(--white);
    text-transform: none;

    padding: 12px 15px;

    resize: none;

    border: none;
}

.journal-entry {
    font-size: 12px;
    font-family: 'Montserrat';
    padding: 0px 5px;
    line-height: 1.5;
    margin: -5px 0;
}

.gold,
.type {
    color: var(--orange);
}

.damage-to-player {
    color: var(--light-red);
}

.damage-to-monster {
    color: var(--light-red);
}

.experience,
.level,
.ability {
    color: var(--purple);
}

.mana-gain,
.restore-mana,
.score {
    color: var(--blue);
}

.restore-health,
.health-gain,
.spell,
.get-item {
    color: var(--green);
}
