.endless-floor-counter {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 24px;
  font-weight: bold;

  color: rgb(0, 0, 0);

  width: fit-content;
  margin: auto;
  padding: 0 7px;
  
  background: rgba(173, 173, 173, 0.5);
  border-radius: 7px;
}

.endless-floor-value {
  font-size: 28px;

  padding-left: 12px;
}