.endless-floor-counter {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 24px;
  font-weight: bold;

  color: rgb(0, 0, 0);
  text-shadow: 0 2px 12px rgb(255, 255, 255);
}

.endless-floor-value {
  font-size: 28px;

  padding-left: 12px;
}