.sell-items-container {
  height: 280px;
  width: 100%;

  margin-top: 16px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  align-self: center;
  align-items: center;
}

.sell-items-padding {
  flex: 1;
  justify-content: center;

  margin-top: 40px;
}
