.player-animation {
  position: absolute;
  width: 40px;
  height: 40px;
  /* this is for sliding the player to their next location */
  /* NOTE: this needs to be like this otherwise the new bg can load diagonally and it looks weird */
  transition: left 0.5s ease 0s, top 0.5s ease 0s;
  /* this is for animating the 'steps' */
  animation: move .5s steps(8) infinite;
  background-position-x: 0px;
}

@keyframes move {
  100% {
    background-position-x: 320px;
  }
}
