.health-bar-container {
  height: 7px;

  background: var(--red);

  position: relative;
}

.health-bar-value {
  height: 7px;

  background: var(--green);

  position: absolute;

  transition: width 2s ease-in-out;
}
