.tile {
  display: inline-flex;
  background-color: #005f00;
}

.grass {
}

.rock {
  background-image: url('/tiles/rock.png')
}

.tree {
  background-image: url('/tiles/tree.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}

.arrow {
  background-image: url('/tiles/arrow.png')
}
