.tile {
  display: inline-flex;

  background-size: contain;
}

.ground {
  background-image: url('/tiles/ground.png')
}

.stone-wall {
  background-image: url('/tiles/stone-wall.png')
}

.eye-wall {
  background-image: url('/tiles/eye-wall.png')
}

.skull-wall {
  background-image: url('/tiles/skull-wall.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}

.stairs-down {
  background-image: url('/tiles/stairs-down.png')
}

.stairs-up {
  background-image: url('/tiles/stairs-up.png')
}

.blood-splatter {
  background-image: url('/tiles/blood-splatter.png')
}
