.dialog-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;

  z-index: 1001;

  background: var(--dark-gray);
  box-shadow: 1px 2px 50px var(--dark-gray);

  cursor: default;
  user-select: none;
}
