.viewport-container {
  position: relative;

  overflow: hidden;

  margin: 8px auto 0;

  background: repeating-linear-gradient(-45deg, var(--dark-gray), var(--dark-gray) 10px, var(--medium-gray) 10px, var(--medium-gray) 20px);
}