.sell-items-container {
  width: 350px;
  height: 350px;

  background-size: contain;

  align-self: center;
  align-items: center;
}

.sell-items-padding {
  flex: 1;
  justify-content: center;

  margin-top: 40px;
}
