.shop-container {
  flex: 1;
}

.shop-container-child {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.shop-title-text {
  font-size: 36px;
  text-align: center;
  padding: 50px 100px 25px;
}

.shop-button-container {
  justify-content: center;

  padding-bottom: 25px;
}
