.shop-keep-animated {
    transform: scale(0.8);

    height: 192px;
    width: 170px;

    animation: moveShopKeep 0.75s steps(7) infinite;
    background-position-x: 0px;
}

@keyframes moveShopKeep {
    100% {
        background-position-x: 1190px;
    }
}
