body {
  margin: 0;

  background-color: #0f0f0f;

  color: #bcbcbc;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 20px;

  text-transform: uppercase;
}

.game-layout-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-bottom: 15px;
}

.game-title-text {
  font-size: 24px;

  width: 800px;
  margin: 25px 0 10px 0;

  align-self: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
