html {
  --red: #650501;
  --green: #258000;
  --gray: #adadad;
  --medium-gray: #292929;
  --dark-gray: #0f0f0f;
  --blue: #006fd7;
  --orange: #daa43d;
  --light-red: #ff593b;
  --purple: #8000ed;
}

body {
  margin: 0;
  background-color: var(--dark-gray);
  /* global text color */
  color: var(--gray);
  /* global font */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.white-border {
  border: 1px solid;
  border-radius: 2px;
}
