.game-start-title {
  justify-content: center;
  padding: 50px 100px;
  font-size: 36px;
}

.game-start-text {
  flex: 1;

  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;

  padding: 25px 100px;
}

.game-start-button-parent {
  padding: 25px 0;
}

.game-start-button-child {
  justify-content: center;
}

.game-start-flame-container-1 {
  position: absolute;
  bottom: 75px;
  left: 125px;
}

.game-start-flame-container-2 {
  position: absolute;
  bottom: 75px;
  left: 570px;
}
