.inventory-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  user-select: none;
}

.inventory-button {
  font-size: 22px;
  padding: 10px;

  border: 1px solid;
  border-radius: 2px;

  cursor: pointer;
}

.inventory-icon-padding {
  padding-right: 12px;
}
